@model TagCadastroViewModel

<h1>Cadastro de tag</h1>
<div class="row">
    <div class="col">
        <form name="formCadastro" asp-antiforgery="true" method="post" asp-action="Cadastro">
            <div class="form-group">
                <label for="txtNome">Descrição</label>
                <input type="text" asp-for="Tag.Descricao" class="form-control col-md-6" id="txtNome" required placeholder="Informe o nome da TAG:">
            </div>

            @if(!Model.Sucesso && !string.IsNullOrWhiteSpace(Model.Mensagem))
            {
                <p class="alert alert-danger alert-block">
                    @Html.Raw(Model.Mensagem)
                </p>
            }
                  
            <input type="hidden" asp-for="Tag.Id"/>

            <a asp-action="index" class="btn btn-outline-info"> Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Tag.js"></script>
}